{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "1083" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Check permitted fuel for use with {{ foundObject["modelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#wood-error">Select if the appliance is cerified to burn wood</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h1 class="govuk-heading-xl">Permitted fuels for {{ foundObject["modelName"] }}</h1>
      <form action="review-appliance?permfuelstatus40=done" method="post" novalidate>
        <div class="govuk-form-group  govuk-!-margin-bottom-9">
          <label class="govuk-label govuk-label--l" for="perm-fuels">
            What fuels is this appliance permitted to burn?
          </label>
          <textarea class="govuk-textarea" id="perm-fuels" name="permFuels40" rows="5">{{ data["permFuels40"] or foundObject["permittedFuels"] }}</textarea>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="wood40-hint wood-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              Is this appliance permitted to burn wood?
            </legend>
            <p id="wood-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select if the appliance is cerified to burn wood
            </p>
            {{ govukRadios({
              classes: "govuk-radios govuk-radios--inline",
              name: "wood40",
              value: data['wood40'],
              hint: {
                text: "If yes, the public listing for this appliance will contain guidance on how to burn wood."
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as completed"
          }) }}
        </div>

        <p><a class="govuk-link" href="review-appliance.html">Cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
