{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your review of  {{ foundObject["modelName"] }} is not complete – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../../dashboard"
      },
      {
        text: "Appliance applications",
        href: "../../applications-appliances"
      },
      {
        text: "Review appliance application 1084",
        href: "../review-application"
      },
      {
        text: "Review Twin Heat M20i",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set foundObject ={} %}

      {% for object in data["applianceApplications"] %}

        {% if object.id == "10842" %}
          {% set foundObject = object %}
        {% endif %}
      {% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your review of  {{ foundObject["modelName"] }} is not complete
      </h1>

      <p>All supporting documents must pass review, and you must complete all tasks for preparing the public listing in the review before deciding an appliance is accepted.</p>

      <p><a class="govuk-link" href="review-appliance">Return to  {{ foundObject["modelName"] }} review</a></p>

    </div>
  </div>

{% endblock %}
