{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Check fuel details for {{ foundObject["modelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check fuel details for {{ foundObject["modelName"] }}
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Rebrand name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['modelName'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="fuel-name.html">
              Change<span class="govuk-visually-hidden"> rebrand name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the fuel be sold under any additional rebrand names?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['moreBrands'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="brands.html">
              Change<span class="govuk-visually-hidden"> if the fuel be sold under any additional rebrand names</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Original fuel manufacturer
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['originalManufacturer'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="original-manufacturer.html">
              Change<span class="govuk-visually-hidden"> original fuel manufacturer</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Original fuel brand name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['originalBrand'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="original-brand.html">
              Change<span class="govuk-visually-hidden"> original fuel brand name</span>
            </a>
          </dd>
        </div>
        {% if (foundObject.moreBrands == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional brand name(s)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ foundObject['brands'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="brands.html">
                Change<span class="govuk-visually-hidden"> additional brand names</span>
              </a>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Changes to original fuel?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['changes'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="changes.html">
              Change<span class="govuk-visually-hidden"> if there have been changes made to the original fuel</span>
            </a>
          </dd>
        </div>
        {% if (foundObject.changes == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Detail of changes
            </dt>
            <dd class="govuk-summary-list__value">
              {{ foundObject['changeDetails'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="changes.html">
                Change<span class="govuk-visually-hidden"> detail of the changes</span>
              </a>
            </dd>
          </div>
        {% endif %}
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['description'] or 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="description.html">
              Change<span class="govuk-visually-hidden"> fuel description</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['weight'] or 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="weight.html">
              Change<span class="govuk-visually-hidden"> fuel weight</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel composition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['composition'] or 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="composition.html">
              Change<span class="govuk-visually-hidden"> fuel composition</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sulphur content
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['sulphur'] }} % of total dry weight
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="sulphur.html">Change<span class="govuk-visually-hidden"> sulphur content</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manufacturing process
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['manufacture'] or 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="manufacture.html">
              Change<span class="govuk-visually-hidden"> manufacturing process</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Monitored quality control system
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['quality'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="quality.html">
              Change<span class="govuk-visually-hidden"> if there is a quality control system in place</span>
            </a>
          </dd>
        </div> -->
      </dl>

      <form action="review-fuel" method="post" novalidate>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as completed",
            href: "review-fuel?fueldetailstatusgrill=done"
          }) }}
        </div>

        <p><a class="govuk-link" href="review-fuel">Cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
