{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  How is the fuel manufactured? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="fuel-description" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="fuel-manu">
              How is the fuel manufactured?
            </label>
          </h1>
          <textarea class="govuk-textarea" id="fuel-manu" name="fuelManu" rows="5">{{ data['fuelManu'] }}</textarea>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="fuel-description">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
