{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Original fuel name or brand – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="fuel-details" method="post">

        {{ govukInput({
          label: {
            text: "Original fuel name or brand",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          id: "original-name",
          name: "originalName",
          value: data['originalName'] or foundObject['originalBrand']
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="fuel-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
