{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Is there a monitored quality control system in place? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="fuel-details" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          name: "qualityControl",
          fieldset: {
            legend: {
              text: "Is there a monitored quality control system in place?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: true
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="fuel-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
