{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  What is the fuel's sulphur content? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="fuel-description" method="post">

        {{ govukInput({
          label: {
            text: "What is the fuel's sulphur content?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          classes: "govuk-input--width-3 govuk-!-text-align-right",
          id: "sulphur-content",
          name: "sulphurContent",
          value: data['sulphurContent'],
          suffix: {
            text: "% of total dry ash-free weight"
          },
          inputmode: "numeric"
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="fuel-description.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
