{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of fuel is permitted for use with {{ foundObject["modelName"] }}? – {{ serviceName }}
{% endblock %}

{% block content %}
{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "10844" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="permitted-fuel" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="fuelType">
              What type of fuel is permitted for use with {{ foundObject["modelName"] }}?
            </label>
          </h1>
          <select class="govuk-select" id="fuel-type" name="fuelType"
            data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
            <option value="Search for a fuel" selected>Search for a fuel</option>
            <option value="Any certified fuel">Any certified fuel</option>
            <option value="Compound wood (chipboard, plywood, MDF)">Compound wood (chipboard, plywood, MDF)</option>
            <option value="Other fuel">Other fuel</option>
            <option value="Peat briquettes">Peat briquettes</option>
            <option value="Sawdust and wood shavings">Sawdust and wood shavings</option>
            <option value="Waste and scrap wood (including pallets)">Waste and scrap wood (including pallets)</option>
            <option value="Wood briquettes">Wood briquettes</option>
            <option value="Wood chips">Wood chips</option>
            <option value="Wood logs">Wood logs</option>
            <option value="Wood pellets">Wood pellets</option>
          </select>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="permitted-fuel.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="app\assets\javascripts\accessible-autocomplete.min.js"></script>
{% endblock %}