{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of appliance is {{ foundObject["modelName"] }}? – {{ serviceName }}
{% endblock %}

{% block content %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "10844" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="appliance-details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Select other appliance type for {{ foundObject["modelName"] }}?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType" name="otherApplianceType" type="radio" value="Air heater">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType">
                  Air heater
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType-2" name="otherApplianceType" type="radio" value="Oven">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType-2">
                  Oven
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType-3" name="otherApplianceType" type="radio" value="Incinerator">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType-3">
                  Incinerator
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType-4" name="otherApplianceType" type="radio" value="Cooker with boiler">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType-4">
                  Cooker with boiler
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType-5" name="otherApplianceType" type="radio" value="Wet roomheater">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType-5">
                  Wet roomheater
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="otherApplianceType-6" name="otherApplianceType" type="radio" value="Gasifier">
                <label class="govuk-label govuk-radios__label" for="otherApplianceType-6">
                  Gasifier
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="appliance-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="app\assets\javascripts\accessible-autocomplete.min.js"></script>
{% endblock %}