{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review instruction manual for {{ foundObject["modelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "10844" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="review-appliance?instrstatus=pass" method="post">
        <h1 class="govuk-heading-xl">Review instruction manual for {{ foundObject["modelName"] }}</h1>
        <!-- <h2 class="govuk-heading-l">Documents included in application</h2>
        <p><a href="#">TwinHeat M20i-M40i manual.pdf</a></p>
        <p><a href="#">TwinHeat M80i manual 2026.pdf</a></p> -->
        <p>Check the following in the instruction manual:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>stuff to check</li>
          <li>important things</li>
          <li>anything else</li>
        </ul>
        <h2 class="govuk-heading-l">Instruction manual public listing details</h2>
        <p>These details will be published to the public listing for {{ foundObject["modelName"] }}. Enter details of the relevant manual so a member of the public or installer can find it themselves.</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="manual-title">
            Title
          </label>
          <input class="govuk-input" id="manual-title" name="manualTitle" type="text" value="{{ data['manualTitle'] }}">
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="publication-date-hint">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              Publication date
            </legend>
            <div id="publication-date-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="publication-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="publication-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="publication-date-day" name="publication-date-day" type="text" inputmode="numeric" value="{{ data['publication-date-day'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="publication-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="publication-date-month" name="publication-date-month" type="text" inputmode="numeric" value="{{ data['publication-date-month'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="publication-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="publication-date-year" name="publication-date-year" type="text" inputmode="numeric" value="{{ data['publication-date-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend  govuk-!-font-weight-bold"">
              Do you want to include a version?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="enter-version" name="enterVersion" type="radio" value="yes" data-aria-controls="conditional-version">
                <label class="govuk-label govuk-radios__label" for="enter-version">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-version">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="version-detail-yes">
                    Enter version
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="version-detail-yes" name="versionDetail" value="{{ data['versionDetail'] }}">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="version-detail-no" name="enterVersion" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="version-detail-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as passed"
          }) }}

        </form>

          {{ govukButton({
            text: "Mark as failed",
            classes: "govuk-button--secondary",
            href: "review-appliance?instrstatus=fail"
          }) }}
        </div>

        <p><a class="govuk-link" href="review-appliance">Come back to this later</a></p>

      

    </div>
  </div>

{% endblock %}
