{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceRecordList"] %}

  {% if object.id == "10" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Action history for {{ foundObject["applianceName"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "dashboard"
      },
      {
        text: "Appliance records",
        href: "../../records-appliances"
      },
      {
        text: "Jetmaster Inset 50i Mk2 6.3kW wood-burning inset stove",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Action history for {{ foundObject["applianceName"] }}
      </h1>

      <table class="govuk-table govuk-!-margin-bottom-9">
      <caption class="govuk-table__caption govuk-table__caption--l govuk-visually-hidden">Action history</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Action</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-third">Completed by</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-third">Date</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Certified in Wales
          </td>
          <td class="govuk-table__cell">
            Chris Conolly<br/>
            Wales.Christopher.Conolly@ricardo.com
          </td>
          <td class="govuk-table__cell">
            13 April 2017
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Sent to Wales for approval
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            13 April 2017
          </td>
        </tr>
        
        <tr>
          <td scope="row" class="govuk-table__cell">
            Certified in Northern Ireland
          </td>
          <td class="govuk-table__cell">
            Roger Irwin<br/>
            Roger.Irwin@daera-ni.gov.uk
          </td>
          <td class="govuk-table__cell">
            27 October 2016
          </td>
        </tr>
        <tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Sent to Northern Ireland for approval
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            27 October 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Certified in Scotland
          </td>
          <td class="govuk-table__cell">
            Andrew Taylor<br/>
            andrew.taylor2@gov.scot
          </td>
          <td class="govuk-table__cell">
            11 July 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Sent to Scotland for approval
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            11 July 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Certified in England
          </td>
          <td class="govuk-table__cell">
            Steve Morgan<br/>
            steve.morgan@defra.gov.uk
          </td>
          <td class="govuk-table__cell">
            30 June 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Sent to England for approval
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            27 June 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Accepted at application
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            15 June 2016
          </td>
        </tr>
        <tr>
          <td scope="row" class="govuk-table__cell">
            Rejected at application
          </td>
          <td class="govuk-table__cell">
            Robert Stewart<br/>
            Legacy.Robert_Stewart@ricardo.com
          </td>
          <td class="govuk-table__cell">
            11 December 2015
          </td>
        </tr>
      </tbody>
    </table>
    <p><a href="record">Return to record</a></p>
    

    </div>
  </div>

{% endblock %}
