{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  What does the fuel look like? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="fuel-details" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="fuel-desc">
              What does the fuel look like?
            </label>
          </h1>
          <textarea class="govuk-textarea" id="fuel-desc" name="fuelDesc" rows="5">
          {{ foundObject['description'] }}
          </textarea>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="fuel-details">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
