{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "7" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
   Update test status for for {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Update test status for {{ foundObject["fuelName"] }}
      </h1><form class="form" action="record" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Did the fuel pass or fail it's most recent retesting?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="testPassed" name="testStatusCentra" type="radio" value="Passed">
                <label class="govuk-label govuk-radios__label" for="testPassed">
                  Passed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="testFailed" name="testStatusCentra" type="radio" value="Failed" aria-describedby="testFailed-hint">
                <label class="govuk-label govuk-radios__label" for="testFailed">
                  Failed
                </label>
                <div id="testFailed-hint" class="govuk-hint govuk-radios__hint">
                  You must inform Defra and the devolved administrations that the fuel has failed retesting, so they can decide if they want to uncertify the fuel.
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="record">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
