{% extends "layouts/main.html" %}

{% block pageTitle %}
  Appliances or fuels – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Manage smoke control certification
      </h1>
      <h2 class="govuk-heading-l">
        Manage appliances
      </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
          <p><a href="applications-appliances">New applications</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
          <p><a href="applications-appliances">In progress applications</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">3,359</p>
          <p><a href="">Appliance records</a></p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-l">
        Manage fuels
      </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
          <p><a href="">New applications</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
          <p><a href="">In progress applications</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">265</p>
          <p><a href="">Fuel records</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
