{% extends "layouts/main.html" %}

{% block pageTitle %}
  Appliance records – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "dashboard"
      },
      {
        text: "Appliance records",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Appliance records
      </h1>

      <form class="form" action="appliance-list-search" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="keywords">
            Search
          </label>
          <div class="govuk-button-group">
            <input class="govuk-input govuk-!-width-three-quarters" id="keywords" name="keywords" type="text">
            <button type="submit" class="govuk-button govuk-!-margin-0  govuk-!-margin-left-1" data-module="govuk-button" data-test-id="submit-button">
              Search
            </button>
          </div>
        </div>
      </form>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              Filter by status:
            </h2>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter" name="filters" type="checkbox" value="pending">
                  <label class="govuk-label govuk-checkboxes__label" for="filter">
                    Pending
                  </label>
                </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-1" name="filters" type="checkbox" value="live">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-1">
                    Live
                  </label>
                </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-2" name="filters" type="checkbox" value="hidden">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-2">
                    Hidden
                  </label>
                </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-3" name="filters" type="checkbox" value="rejected">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-3">
                    Rejected
                  </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <p>Showing 1 to 10 of 3,358 records</p>
      <table class="govuk-table govuk-!-margin-bottom-9">
      <caption class="govuk-table__caption govuk-table__caption--l govuk-visually-hidden">Application records</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Appliance name</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
        </tr>
      </thead>

      <tbody>
        {% for record in data['applianceRecordList'] %}
          <tr>
            <td scope="row" class="govuk-table__cell">
                  {{ record['appNum'] }}
            </td>
            <td class="govuk-table__cell">
              {{ record['applianceName'] }}
            </td>
            <td class="govuk-table__cell">
              {% if ( record['status'] == "live") %}
                  <strong class="govuk-tag govuk-tag--green">
                    Live on public list
                  </strong>
                {% elseif (record['status'] == "rejected") %}
                  <strong class="govuk-tag govuk-tag--red">
                    Rejected
                  </strong>
                {% elseif (record['status'] == "hidden") %}
                  <strong class="govuk-tag govuk-tag--grey">
                    Hidden from public list
                  </strong>
                {% elseif (record['status'] == "pending") %}
                  <strong class="govuk-tag govuk-tag--orange">
                    Pending government approval
                  </strong>
                {% endif %}
            </td>
            <td class="govuk-table__cell">
              <a href="{{ record['actionLink'] }}">View <span class="govuk-visually-hidden"> detail of {{ record['applianceName'] }}</span></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav class="govuk-pagination" aria-label="Pagination">
          <!-- <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div> -->
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 4">
                4
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipsis">
              &ctdot;
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 359">
                336
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
    

    </div>
  </div>

{% endblock %}
