{% extends "layouts/main-no-nav.html" %}

{% block pageTitle %}
  Appliances or fuels – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Appliances or fuels
      </h1>

      <p><a href="select-section-appliances">Manage applications and certifications for appliances</a></p>
      <p><a href="">Manage applications and certifications for fuels</a></p>

    </div>
  </div>

{% endblock %}
