{% extends "layouts/main-no-nav.html" %}

{% set pageName="Application forms - apply for certification of appliances and fuels" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Application forms - apply for certification of appliances and fuels
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Usability testing protoypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">What is being tested</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">4 May to <br/>15 May 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-third">
            <p>End-to-end journey of an application for appliances and fuels</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="start-appliances">Launch appliances application</a></p>
            <p><a href="start-fuels">Launch fuels application</a></p>
          </td>
        </tr>
      </tbody>
    </table>
    

  </div>
</div>

{% endblock %}
