{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of appliance is {{ foundObject["modelName"] }}? – {{ serviceName }}
{% endblock %}

{% block content %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "10843" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="appliance-details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What type of appliance is {{ foundObject["modelName"] }}?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType" name="applianceType" type="radio" value="stove">
                <label class="govuk-label govuk-radios__label" for="applianceType">
                  Stove
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-2" name="applianceType" type="radio" value="boiler">
                <label class="govuk-label govuk-radios__label" for="applianceType-2">
                  Boiler
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-3" name="applianceType" type="radio" value="roomheater">
                <label class="govuk-label govuk-radios__label" for="applianceType-3">
                  Roomheater
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-4" name="applianceType" type="radio" value="inset-roomheater">
                <label class="govuk-label govuk-radios__label" for="applianceType-4">
                  Inset roomheater
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-5" name="applianceType" type="radio" value="pizza-oven">
                <label class="govuk-label govuk-radios__label" for="applianceType-5">
                  Pizza oven
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-6" name="applianceType" type="radio" value="pellet-stove">
                <label class="govuk-label govuk-radios__label" for="applianceType-6">
                  Pellet stove
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="applianceType-7" name="applianceType" type="radio" value="other">
                <label class="govuk-label govuk-radios__label" for="applianceType-7">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="appliance-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="app\assets\javascripts\accessible-autocomplete.min.js"></script>
{% endblock %}