{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "10843" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  What is the model number? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="appliance-details" method="post">

        {{ govukInput({
          label: {
            text: "What is the model number?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          id: "model-number",
          name: "modelNumber60",
          value: data['modelNumber60'] or foundObject['modelNumber']
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="appliance-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
