{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% set currentStatusWalesAldi ={} %}
{% set altStatusWalesAldi ={} %}

{% if (data.newStatusWalesAldi) %}
  {% if (data.newStatusWalesAldi == "uncertified") %}
    {% set currentStatusWalesAldi = 'Uncertified' %}
    {% set altStatusWalesAldi = 'certified' %}
  {% elseif (data.newStatusWalesAldi == "certified") %}
    {% set currentStatusWalesAldi = 'Certified' %}
    {% set altStatusWalesAldi = 'uncertified' %}
  {% endif %}
{% elseif (foundObject.wales == "uncertified") %}
  {% set currentStatusWalesAldi = 'Uncertified' %}
  {% set altStatusWalesAldi = 'certified' %}
{% elseif (foundObject.wales == "certified") %}
  {% set currentStatusWalesAldi = 'Certified' %}
  {% set altStatusWalesAldi = 'uncertified' %}
{% endif %}

{% block pageTitle %}
  Change approval status in Wales for {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change approval status in Wales for {{ foundObject["fuelName"] }}
      </h1>
      <p>Current status: {{ currentStatusWalesAldi }}</p>
      <p>You must only change the appliance's approval status if instructed to do so by an appropriate representative of the Welsh government.</p>
      <form class="form" action="record?newStatusWalesAldi={{ altStatusWalesAldi }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you want to change the approval status for this appliance to {{ altStatusWalesAldi }} in Wales?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-cert" name="changeCertWalesAldi" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="change-cert">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-cert-no" name="changeCertWalesAldi" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="change-cert-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="record">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
