{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Legacy comments on {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "Fuel records",
        href: "../records-fuels"
      },
      {
        text: foundObject['fuelName'],
        href: "record"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Legacy comments on {{ foundObject["fuelName"] }}
      </h1>

      <p>Re-branded fuel with same specification as Brazier briquettes (CPL Manufacturer)</p>
      <p>[16/12/2015 18:11] Data Entry User / Data Entry (Legacy.Christopher.Conolly@ricardo.com): Fuel is identical to  Brazier briquettes (CPL Manufacturer) and is a re-branded fuel with same specification. A reissued quality plan has been provided which is pretty much identical to the one for the existing authorised fuel. I have commented.</p>
      <p>[18/12/2015 09:55] Data Entry User / Data Entry (Legacy.Christopher.Conolly@ricardo.com): RS reviewed.</p>
      <p><a href="record">Return to record</a></p>
    </div>
  </div>
{% endblock %}
