{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Fuel details for {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "Fuel records",
        href: "../records-fuels"
      },
      {
        text: foundObject['fuelName'],
        href: "record"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Fuel details for {{ foundObject["fuelName"] }}
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["fuelID"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Brand name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["fuelName"] }}
          </dd>
        </div>
        {% if (foundObject.moreBrands == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional brand names
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for brand in foundObject['brands'] %}
                  <li>{{ brand }}</li>
                {% endfor %}
              </ul>
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["description"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["weight"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel composition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["composition"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sulphur content
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["sulphur"] }} % of total dry weight
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manufacturing process
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["manufacture"] }}
          </dd>
        </div>
      </dl>
      <p><a href="record">Return to record</a></p>
      
    </div>
  </div>
{% endblock %}
