{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "Fuel records",
        href: "../records-fuels"
      },
      {
        text: foundObject['fuelName'],
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {% if ( data["hiddenAldi"] == "yes") %}
            <strong class="govuk-tag govuk-tag--grey" style="max-width: fit-content;">
              Hidden from public list
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--green" style="max-width: fit-content;">
              Live on public list
            </strong>
          {% endif %}
        </span>
        {{ foundObject["fuelName"] }}
      </h1>

      {% if (data.engStatusAldi) %}

      {% else %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Date last certified in England is not available. Update England certification when appropriate.
            </p>
          </div>
        </div>
      {% endif %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Public listing
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p><a href="">View public listing</a></p>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Certification status
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table" style="margin-bottom:0;">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Certification status by country</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Country</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Date first certified</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Date last certified</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">England</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data['engStatusAldi'] == "suspended") %}
                    <strong class="govuk-tag govuk-tag--blue">
                      Suspended
                    </strong>
                  {% elseif (data['engStatusAldi'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (data['engStatusAldi'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['england'] == "suspended") %}
                    <strong class="govuk-tag govuk-tag--blue">
                      Suspended
                    </strong>
                  {% elseif (foundObject['england'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['england'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['england'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {{ foundObject["eDate"] }}
                </td>
                <td class="govuk-table__cell">
                  {% if (data['engStatusAldi'] == "suspended") %}
                    {{ "today" | duration(-1, "days") | govukDate }}
                  {% elseif (data['engStatusAldi'] == "certified") %}
                    {{ "today" | govukDate }}
                  {% elseif (data['engStatusAldi'] == "uncertified") %}
                    {{ "today" | duration(-1, "days") | govukDate }}
                  {% else %}
                    {{ foundObject["eDateLast"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.engStatusAldi) %}
                    <a href="update-england-certification.html">
                      Update
                    </a>
                  {% elseif (foundObject['england'] == "certified") or (foundObject['england'] == "uncertified") or (foundObject['england'] == "suspended") %}
                    <a href="update-england-certification.html">
                      Update
                    </a>
                  {% elseif (foundObject['england'] == "awaiting") %}
                    <a href="set-certification.html?countryAldi=eng">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">Scotland</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertScotAldi == "Yes") %}
                    {% if (data.newStatusScotAldi  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.newStatusScotAldi  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['scotland'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['scotland'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['scotland'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertScotAldi == "Yes") %}
                    {% if (foundObject["sDate"] == "Not certified") %}
                      {{ "today" | govukDate }}
                    {% endif %}
                  {% else %}
                    {{ foundObject["sDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertScotAldi == "Yes") %}
                    {% if (data['newStatusScotAldi'] == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data['newStatusScotAldi'] == "uncertified") %}
                      {{ "today" | duration(-1, "days") | govukDate }}
                    {% endif %}
                  {% else %}
                    {{ foundObject["sDateLast"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.newStatusScotAldi) %}
                    <a href="change-scotland-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['scotland'] == "certified") or (foundObject['scotland'] == "uncertified") %}
                    <a href="change-scotland-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['scotland'] == "awaiting") %}
                    <a href="set-certification.html?countryAldi=scot">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">Wales</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertWalesAldi == "Yes") %}
                    {% if (data.newStatusWalesAldi  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.newStatusWalesAldi  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['wales'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['wales'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['wales'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertWalesAldi == "Yes") and (foundObject["wDate"] == "Not certified") %}
                    {{ "today" | govukDate }}
                  {% else %}
                    {{ foundObject["wDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertWalesAldi == "Yes") %}
                    {% if (data['newStatusWalesAldi'] == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data['newStatusWalesAldi'] == "uncertified") %}
                      {{ "today" | duration(-1, "days") | govukDate }}
                    {% endif %}
                  {% else %}
                    {{ foundObject["wDateLast"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.newStatusWalesAldi) %}
                    <a href="change-wales-certification">
                      Change
                    </a>
                  {% elseif (foundObject['wales'] == "certified") or (foundObject['wales'] == "uncertified") %}
                    <a href="change-wales-certification">
                      Change
                    </a>
                  {% elseif (foundObject['wales'] == "awaiting") %}
                    <a href="set-certification.html?countryAldi=wal">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">Northern Ireland</td>
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">
                  {% if (data.changeCertNIAldi == "Yes") %}
                    {% if (data.newStatusNIAldi  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.newStatusNIAldi  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['nireland'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['nireland'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['nireland'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell" style="border-bottom:0;">
                  {% if (data.changeCertNIAldi == "Yes") and (foundObject["niDate"] == "Not certified") %}
                    {{ "today" | govukDate }}
                  {% else %}
                    {{ foundObject["niDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell" style="border-bottom:0;">
                  {% if (data.changeCertNIAldi == "Yes") %}
                    {% if (data['newStatusNIAldi'] == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data['newStatusNIAldi'] == "uncertified") %}
                      {{ "today" | duration(-1, "days") | govukDate }}
                    {% endif %}
                  {% else %}
                    {{ foundObject["niDateLast"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell" style="border-bottom:0;">
                  {% if (data.newStatusNIAldi) %}
                    <a href="change-ni-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['nireland'] == "certified") or (foundObject['nireland'] == "uncertified") %}
                    <a href="change-ni-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['nireland'] == "awaiting") %}
                    <a href="set-certification.html?countryAldi=ni">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Test status
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table" style="margin-bottom:0;">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Certification status by country</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Last tested</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Retest required by</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">
                  {% if (data.testStatusAldi) %}
                    {{ "today" | govukDate }}
                  {% else %}
                    Not available
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">
                  {% if (data.testStatusAldi) %}
                    {% if (data.testStatusAldi == "Passed") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Passed
                      </strong>
                    {% elseif (data.testStatusAldi == "Failed") %}
                      <strong class="govuk-tag govuk-tag--red">
                        Failed
                      </strong>
                    {% endif %}
                  {% else %}
                    <strong class="govuk-tag govuk-tag--green">
                      Passed
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">
                  {% if (data.testStatusAldi) %}
                    {{ "today" | duration(+3, "years") | govukDate }}
                  {% else %}
                    Not available
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">
                  <a href="update-test-status">Update</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Fuel details
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fuel-details.html">View<span class="govuk-visually-hidden"> fuel details</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Legacy comments
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="comments">View<span class="govuk-visually-hidden"> test results</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application {{ foundObject["appNum"] }} details
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="application-details.html">View<span class="govuk-visually-hidden"> application {{ foundObject["appNum"] }} details</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action history
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="action-history">View<span class="govuk-visually-hidden"> action history</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        {% if ( data["hiddenAldi"] == "yes") %}
            {{ govukButton({
              text: "Make fuel live on public list",
              href: "",
              classes: "govuk-button"
            }) }}
          {% else %}
            {{ govukButton({
              text: "Hide fuel from public list",
              href: "hide",
              classes: "govuk-button--secondary"
            }) }}
          {% endif %}
      </div>
      <p><a href="../records-fuels.html">Return to fuel records</a></p>
      
    </div>
  </div>
{% endblock %}
