{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% set currentStatus ={} %}
{% set altStatus ={} %}

{% if (data.engStatusAldi) %}
  {% if (data.engStatusAldi == "uncertified") %}
    {% set currentStatus = 'Uncertified' %}
  {% elseif (data.engStatusAldi == "suspended") %}
    {% set currentStatus = 'Suspended' %}
  {% elseif (data.engStatusAldi == "certified") %}
    {% set currentStatus = 'Certified' %}
  {% endif %}
{% elseif (foundObject.england == "uncertified") %}
  {% set currentStatus = 'Uncertified' %}
{% elseif (foundObject.england == "suspended") %}
  {% set currentStatus = 'Suspended' %}
{% else %}
  {% set currentStatus = 'Certified' %}
{% endif %}


{% block pageTitle %}
  Update status in England for {{ foundObject["fuelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Update status in England for {{ foundObject["fuelName"] }}
      </h1>
      <p>Current status: {{ currentStatus }}</p>
      <form class="form" action="record" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is the fuel's new approval status in England?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eng-certified" name="engStatusAldi" type="radio" value="certified" aria-describedby="eng-certified-hint">
                <label class="govuk-label govuk-radios__label" for="eng-certified">
                  Certified
                </label>
                <div id="eng-certified-hint" class="govuk-hint govuk-radios__hint">
                  England has approved the fuel and it is approved for use in domestic and non domestic settings
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eng-suspended" name="engStatusAldi" type="radio" value="suspended" aria-describedby="eng-suspended-hint">
                <label class="govuk-label govuk-radios__label" for="eng-suspended">
                  Suspended
                </label>
                <div id="eng-suspended-hint" class="govuk-hint govuk-radios__hint">
                  England has approved the fuel but it is only certified for use in non domestic settings currently
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eng-uncertified" name="engStatusAldi" type="radio" value="uncertified" aria-describedby="eng-uncertified-hint">
                <label class="govuk-label govuk-radios__label" for="eng-uncertified">
                  Uncertified
                </label>
                <div id="eng-uncertified-hint" class="govuk-hint govuk-radios__hint">
                  England has rejected the fuel
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="record">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
