{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you sure you want to remove wood pellets? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/remove-fuel20" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "removeFuel",
          fieldset: {
            legend: {
              text: "Are you sure you want to remove wood pellets?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="permitted-fuel.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
