{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceRecordList"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Make {{ foundObject["applianceName"] }} live on public list – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Make {{ foundObject["applianceName"] }} live on public list
      </h1>

      <p class="govuk-body">
        This appliance is currently hidden from the public list.
      </p>

      <form action="record?hiddenAarowEco=no" method="post" novalidate>

        {{ govukRadios({
          name: "make-live",
          fieldset: {
            legend: {
              text: "Should this appliance appear on the public list?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Confirm"
          }) }}

          <a class="govuk-link" href="record">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
