{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceRecordList"] %}

  {% if object.id == "2" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  {{ foundObject["applianceName"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../../dashboard"
      },
      {
        text: "Appliance records",
        href: "../../records-appliances"
      },
      {
        text: foundObject['applianceName'],
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {% if ( data["hiddenAarowEco"] == "no") %}
            <strong class="govuk-tag govuk-tag--green" style="max-width: fit-content;">
              Live on public list
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey" style="max-width: fit-content;">
              Hidden from public list
            </strong>
          {% endif %}
        </span>
        {{ foundObject["applianceName"] }}
      </h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Certification status
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table" style="margin-bottom:0;">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Certification status by country</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Country</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Date first certified</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">England</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertEnglandAarowEco) %}
                    {% if (data.changeCertEnglandAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.changeCertEnglandAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (data.setCertEnglandAarowEco) %}
                    {% if (data.setCertEnglandAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.setCertEnglandAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['england'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['england'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['england'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertEnglandAarowEco) %}
                    {% if (data.changeCertEnglandAarowEco  == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.changeCertEnglandAarowEco  == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% elseif (data.setCertEnglandAarowEco) %}
                    {% if (data.setCertEnglandAarowEco == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.setCertEnglandAarowEco == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% else %}
                    {{ foundObject["eDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertEnglandAarowEco) %}
                    <a href="change-england-certification.html">
                      Change
                    </a>
                  {% elseif (data.setCertEnglandAarowEco) %}
                    <a href="change-england-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['england'] == "awaiting") %}
                    <a href="set-england-certification.html">
                      Change
                    </a>
                  {% else %}
                    <a href="change-england-certification.html">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">Scotland</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertScotlandAarowEco) %}
                    {% if (data.changeCertScotlandAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.changeCertScotlandAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (data.setCertScotlandAarowEco) %}
                    {% if (data.setCertScotlandAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.setCertScotlandAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['scotland'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['scotland'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['scotland'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertScotlandAarowEco) %}
                    {% if (data.changeCertScotlandAarowEco  == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.changeCertScotlandAarowEco  == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% elseif (data.setCertScotlandAarowEco) %}
                    {% if (data.setCertScotlandAarowEco == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.setCertScotlandAarowEco == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% else %}
                    {{ foundObject["sDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertScotlandAarowEco) %}
                    <a href="change-scotland-certification.html">
                      Change
                    </a>
                  {% elseif (data.setCertScotlandAarowEco) %}
                    <a href="change-scotland-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['scotland'] == "awaiting") %}
                    <a href="set-scotland-certification.html">
                      Change
                    </a>
                  {% else %}
                    <a href="change-scotland-certification.html">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">Wales</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertWalesAarowEco) %}
                    {% if (data.changeCertWalesAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.changeCertWalesAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (data.setCertWalesAarowEco) %}
                    {% if (data.setCertWalesAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.setCertWalesAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['wales'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['wales'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['wales'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertWalesAarowEco) %}
                    {% if (data.changeCertWalesAarowEco  == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.changeCertWalesAarowEco  == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% elseif (data.setCertWalesAarowEco) %}
                    {% if (data.setCertWalesAarowEco == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.setCertWalesAarowEco == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% else %}
                    {{ foundObject["wDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertWalesAarowEco) %}
                    <a href="change-wales-certification.html">
                      Change
                    </a>
                  {% elseif (data.setCertWalesAarowEco) %}
                    <a href="change-wales-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['wales'] == "awaiting") %}
                    <a href="set-wales-certification.html">
                      Change
                    </a>
                  {% else %}
                    <a href="change-wales-certification.html">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell" style="border-bottom:0;">Northern Ireland</td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertNIAarowEco) %}
                    {% if (data.changeCertNIAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.changeCertNIAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (data.setCertNIAarowEco) %}
                    {% if (data.setCertNIAarowEco  == "certified") %}
                      <strong class="govuk-tag govuk-tag--green">
                        Certified
                      </strong>
                    {% elseif (data.setCertNIAarowEco  == "uncertified") %}
                      <strong class="govuk-tag govuk-tag--grey">
                        Uncertified
                      </strong>
                    {% endif %}
                  {% elseif (foundObject['nireland'] == "certified") %}
                    <strong class="govuk-tag govuk-tag--green">
                      Certified
                    </strong>
                  {% elseif (foundObject['nireland'] == "uncertified") %}
                    <strong class="govuk-tag govuk-tag--grey">
                      Uncertified
                    </strong>
                  {% elseif (foundObject['nireland'] == "awaiting") %}
                    <strong class="govuk-tag govuk-tag--yellow">
                      Awaiting decision
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.changeCertNIAarowEco) %}
                    {% if (data.changeCertNIAarowEco  == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.changeCertNIAarowEco  == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% elseif (data.setCertNIAarowEco) %}
                    {% if (data.setCertNIAarowEco == "certified") %}
                      {{ "today" | govukDate }}
                    {% elseif (data.setCertNIAarowEco == "uncertified") %}
                      Not certified
                    {% endif %}
                  {% else %}
                    {{ foundObject["niDate"] }}
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                  {% if (data.changeCertNIAarowEco) %}
                    <a href="change-ni-certification.html">
                      Change
                    </a>
                  {% elseif (data.setCertNIAarowEco) %}
                    <a href="change-ni-certification.html">
                      Change
                    </a>
                  {% elseif (foundObject['nireland'] == "awaiting") %}
                    <a href="set-ni-certification.html">
                      Change
                    </a>
                  {% else %}
                    <a href="change-ni-certification.html">
                      Change
                    </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Appliance details
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="appliance-details.html">View<span class="govuk-visually-hidden"> appliance details</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test results
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="test-results">View<span class="govuk-visually-hidden"> test results</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Instruction manual
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="instruction-manual">View<span class="govuk-visually-hidden"> instruction manual</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application {{ foundObject["appNum"] }} details
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="application-details.html">View<span class="govuk-visually-hidden"> application {{ foundObject["appNum"] }} details</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action history
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="action-history.html">View<span class="govuk-visually-hidden"> action history</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        {% if ( data["hidden"] == "no") %}
            {{ govukButton({
              text: "Hide appliance from public list",
              href: "",
              classes: "govuk-button--secondary"
            }) }}
          {% else %}
            {{ govukButton({
              text: "Make appliance live on public list",
              href: "make-live",
              classes: "govuk-button"
            }) }}
          {% endif %}
      </div>
      <p><a href="../../records-appliances.html">Return to appliance records</a></p>
      
    </div>
  </div>
{% endblock %}
