{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "1083" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Check permitted fuel for use with {{ foundObject["modelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Permitted fuels for {{ foundObject["modelName"] }}</h1>
      <form action="permitted-fuel-error" method="post" novalidate>
        <div class="govuk-form-group  govuk-!-margin-bottom-9">
          <label class="govuk-label govuk-label--l" for="perm-fuels">
            What fuels is it permitted to burn?
          </label>
          <textarea class="govuk-textarea" id="perm-fuels" name="permFuelsCS" rows="5">{{ data["permFuelsCS"] or foundObject["permittedFuels"] }}</textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              Is it cerified to burn wood?
            </legend>
            {{ govukRadios({
              classes: "govuk-radios govuk-radios--inline",
              name: "woodCS",
              value: data['woodCS'],
              hint: {
                text: "This will show wood related content on the public listing..."
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as completed"
          }) }}
        </div>

        <p><a class="govuk-link" href="review-appliance.html">Cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
