{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "1083" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Check permitted fuel for use with {{ foundObject["modelName"] }} – {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="fuel-details" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="more-detail">
            What fuel is {{ foundObject["modelName"] }} permitted to burn?
          </label>
        </h1>
        <textarea class="govuk-textarea" id="perm-fuels" name="permFuelsCS" rows="5">{{ data["permFuelsCS"] or foundObject["permittedFuels"] }}</textarea>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: "Save changes"
        }) }}
      </div>

      <p><a class="govuk-link" href="fuel-details">Cancel</a></p>

    </form>

    </div>
  </div>
{% endblock %}
