{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceApplications"] %}

  {% if object.id == "1083" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Is this a variant of a certified appliance? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="appliance-details" method="post">
        {% set detailsInput %}
        {{ govukTextarea({
          label: {
            text: "Details of the certified variant",
            classes: "govuk-label--m"
          },
          id: "variant-details",
          name: "variantDetailsCS",
          value: data['variantDetailsCS'] or foundObject['variantDetails']
        }) }}
        {% endset -%}


        {{ govukRadios({
          classes: "govuk-radios",
          name: "isVariantCS",
          value: data['isVariantCS'] or foundObject['variant'],
          fieldset: {
            legend: {
              text: "Is this a variant of a certified appliance?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
              html: detailsInput
            }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="appliance-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
