{% extends "layouts/main.html" %}

{% block pageTitle %}
  100SE Smoke Exempt Woodburning Stove – GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Inherently smokeless fuels (a) anthracite;(b) semi-anthracite;(c) electricity; and (d) gas;(e) low volatile steam coals
      </h1>
      <p>Generic Authorisation</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s govuk-!-margin-bottom-2">From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food and Rural Affairs</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Published 14 January 2026</p>
      <p class="govuk-body-s">Last updated 14 January 2026</p>
      
      <h2 class="govuk-heading-l">Certification by country</h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l govuk-visually-hidden">Certification by country</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-table__header">Country</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Date first certified</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Date last certified</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">England</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">1 August 2021</td>
            <td class="govuk-table__cell govuk-table__cell">1 August 2025</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Scotland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">2 August 2021</td>
            <td class="govuk-table__cell govuk-table__cell">2 August 2025</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Wales</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Uncertified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">Not certified</td>
            
            <td class="govuk-table__cell govuk-table__cell">Not applicable</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Northern Ireland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Revoked</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">5 August 2021</td>
            <td class="govuk-table__cell govuk-table__cell">25 March 2024</td>
            
          </tr>
        </tbody>
      </table>

      <p>See the <a href="fuel-legal.html">legal basis for fuel certification</a>.</p>
       
      <h2 class="govuk-heading-l">Fuel description</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appearance
          </dt>
          <dd class="govuk-summary-list__value">
            Pillow-shaped briquettes with a single line indentation on one side and a double line indentation on the reverse side.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            Average weight of between 95 grams to 110 grams per briquette.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Composition
          </dt>
          <dd class="govuk-summary-list__value">
            A blend of anthracites and coals up to and between 30% to 40%, pet cokes up to and between 60% to 70% with trace amount of organic plant based dry powder binder as to the remaining weight.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manufacturing process
          </dt>
          <dd class="govuk-summary-list__value">
            Manufactured by a cold cure process using roller press system.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sulphur content
          </dt>
          <dd class="govuk-summary-list__value">
            2% of total dry, ash free weight
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Company details</h2>
      <p>This appliance was certified by Generic Authorisation.</p>
      <p>Long Ing<br/>
      Barnoldswick<br/>
      Lancashire<br/>
      BB18 6BN</p>
  </div>

{% endblock %}
