{% extends "layouts/main-no-nav.html" %}

{% set pageName="Public list service - search and review" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Public list service - search and review
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Sprints and iterations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Iteration notes</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">11</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">29 June to <br/>10 July 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Iteration based on feedback from usability testing sessions with <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1772468751073/d2fd2e06a91d87c76168fffd912c6b1bd4b1baaf?sender=ucf0a001eccadee66d3315575">consumers, local authorities and industry specialists</a>.</p>
            <p>Content interations and reasoning documented in the <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1774530838186/d8c574882adec8447b1622d030eb86a1457891f4?wid=0-1778496903961">design Mural board</a>.</p>
            <p>Appliance types and fuel filters were creating confusion for all users, so have been removed.</p>
            <p>Country certified filter has been moved out of the detail component, so it is fully visible on screen, to reduce the confusion around what it is and what it does.</p>
            <p>Lists reordered to alphabetical first, with numeric ordering after, as the ordering the existing site uses was causing confusion when first looking at the page, with users thinking numeric titled appliances were serial numbers or industry coding.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="iteration-2/smoke-control.html">Launch prototype</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">9 March to <br/>20 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Building list design into prototype kit for usability testing. Starts with GOV.UK page that links out to the appliance and fuels lists.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="england/smoke-control.html">Launch prototype</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">9 March to <br/>20 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>No results views for appliance and fuel search to support dev build.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="england/appliance-list-no-results.html">Appliance search/filter no results</a></p>
            <p><a href="england/fuel-list-no-results.html">Fuel search/filter no results</a></p>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Usability testing protoypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">What is being tested</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">23 March to <br/>3 April 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Public list, legal basis, search, filter and listing details</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="ur-links.html">Launch prototype</a></p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
