{% extends "layouts/main-no-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Public list service - usability testing prototypes
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Consumer testing</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Participant location</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-three-quarters">
            <p>England</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="england/smoke-control.html">Launch prototype</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-three-quarters">
            <p>Northern Ireland</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="northern-ireland/smoke-control.html">Launch prototype</a></p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
