{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review appliance application 1083 – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "Appliance applications",
        href: "../applications-appliances"
      },
      {
        text: "Review appliance application 1083",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review appliance application 1083
      </h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Applicant details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
                Burley Appliances
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company address
              </dt>
              <dd class="govuk-summary-list__value">
                Land's End Way<br/>
                Oakham<br/>
                Rutland<br/>
                LE15 6RB
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Mr Burley
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact email
              </dt>
              <dd class="govuk-summary-list__value">
                mr.burley@burley.co.uk
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact alternative email
              </dt>
              <dd class="govuk-summary-list__value">
                john.doe@burley.co.uk
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                07722 334455
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Appliance for review
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Appliance for review in application 1083</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Appliance name</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell">Twin Heat CS200i</td>
              <td class="govuk-table__cell govuk-table__cell">
                {% if (data['CSstatus'] == "yes") %}
                  <strong class="govuk-tag govuk-tag--orange">
                    In progress
                  </strong>
                {% elseif (data['CSstatus'] == "accepted") %}
                  <strong class="govuk-tag govuk-tag--green">
                    Accepted
                  </strong>
                {% elseif (data['CSstatus'] == "rejected") %}
                  <strong class="govuk-tag govuk-tag--red">
                    Rejected
                  </strong>
                {% else %}
                  <span>
                    Not started
                  </span>
                {% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell">
                <a href="CS200i/review-appliance.html">
                  {% if (data['CSstatus'] == "yes") %}
                    Continue review
                  {% elseif (data['CSstatus'] == "accepted") %}
                    Edit review
                  {% elseif (data['CSstatus'] == "rejected") %}
                    Edit review
                  {% else %}
                    Start review
                  {% endif %}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        {% if ((data['CSstatus'] == "accepted" or data['CSstatus'] == "rejected")) %}
          {{ govukButton({
            text: "Continue",
            href: "review-outcome"
          }) }}
        {% else %}
            {{ govukButton({
            text: "Continue",
            href: "review-incomplete"
          }) }}
        {% endif %}
      </div>
      
      <p><a class="govuk-link" href="../applications-appliances.html">Come back to this later</a></p>

    </div>
  </div>
{% endblock %}
