{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review is not complete – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review is not complete
      </h1>

      <p>You must make a final decision on the appliance before completing your review.</p>

      <p><a class="govuk-link" href="review-application.html">Return to application review</a></p>

    </div>
  </div>

{% endblock %}
