{% extends "layouts/main.html" %}

{% block pageTitle %}
  Finish application review – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Finish application review
      </h1>
        {% if (data['CSstatus'] == "accepted") %}
          <p>Following technical review, the following appliance is considered to be suitable for certification under the Clean Air Act 1993:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Twin Heat CS200i</li>
          </ul>
          <p>This appliance can now be submitted to the governments of England, Scotland, Wales and Northern Ireland for approval.</p>
          <div class="govuk-button-group govuk-!-margin-top-7">
            {{ govukButton({
              text: "Submit for approval",
              href: "review-complete"
            }) }}
          </div>
        {% elseif (data['CSstatus'] == "rejected") %}
          <p>Following technical review, the following appliance is not considered to be suitable for certification under the Clean Air Act 1993:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Twin Heat CS200i</li>
          </ul>
          <p>You must contact the applicant to tell them about this decision.</p>
          <div class="govuk-button-group govuk-!-margin-top-7">
            {{ govukButton({
              text: "Finish review",
              href: "review-complete"
            }) }}
          </div>
        {% endif %}
      

      <p><a class="govuk-link" href="review-application.html">Return to application review</a></p>

    </div>
  </div>

{% endblock %}
