{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["applianceRecordList"] %}

  {% if object.id == "3" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Application {{ foundObject["appNum"] }} details – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../../dashboard"
      },
      {
        text: "Appliance records",
        href: "../../records-appliances"
      },
      {
        text: "Aarrow Ecoburn 5F plus Widescreen 4.99kW multi-fuel stove",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Application {{ foundObject["appNum"] }} details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application date
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 2026
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["manufacturer"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            The Fireworks<br/>
            Weycroft Avenue<br/>
            Axminster<br/>
            Devon<br/>
            EX13 5HU
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact name
          </dt>
          <dd class="govuk-summary-list__value">
            John Doe
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact email
          </dt>
          <dd class="govuk-summary-list__value">
            john.doe@arada.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact alternative email
          </dt>
          <dd class="govuk-summary-list__value">
            hello@arada.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            07722 334455
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appliances in this application
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>Aarrow Ecoburn 5F plus 4.9kW multi-fuel stove</li>
              <li>Aarrow Ecoburn 5F plus Widescreen 4.99kW multi-fuel stove</li>
            </ul>
          </dd>
        </div>
      </dl>
      <p><a href="record">Return to record</a></p>
      
    </div>
  </div>
{% endblock %}
