{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelRecordList"] %}

  {% if object.id == "5" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Fuel details – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../../dashboard"
      },
      {
        text: "Fuel records",
        href: "../../records-fuels"
      },
      {
        text: "Ecoglow",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Fuel details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["fuelID"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Brand name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject["fuelName"] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the fuel be sold under any additional brand names?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['moreBrands'] }}
          </dd>
        </div>
        {% if (foundObject.moreBrands == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional brand name(s)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ foundObject['brands'] }}
            </dd>
          </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel appearance
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['description'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['weight'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fuel composition
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['composition'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sulphur content
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['sulphur'] }} % of total dry weight
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manufacturing process
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['manufacture'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Monitored quality control system
          </dt>
          <dd class="govuk-summary-list__value">
            {{ foundObject['quality'] }}
          </dd>
        </div>
      </dl>
      <p><a href="record.html">Return to record</a></p>
    </div>
  </div>
{% endblock %}
