{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review appliance application 1084 – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "New and in progress appliance applications",
        href: "../applications-appliances"
      },
      {
        text: "Review appliance application 1084",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% set rejectedAppStatus %}
        <strong class="govuk-tag govuk-tag--red">
          Rejected
        </strong>
      {% endset %}

      {% set acceptedAppStatus %}
        <strong class="govuk-tag govuk-tag--green">
          Accepted
        </strong>
      {% endset %}

      {% set inprogressAppStatus %}
        <strong class="govuk-tag govuk-tag--orange">
          In progress
        </strong>
      {% endset %}

      {% set notstartedAppStatus %}
        <span>
          Not started
        </span>
      {% endset %}

      <h1 class="govuk-heading-xl">
        Review appliance application 1084
      </h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Applicant details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
                Burley Appliances
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company address
              </dt>
              <dd class="govuk-summary-list__value">
                Land's End Way,<br/>
                Oakham,<br/>
                Rutland<br/>
                LE15 6RB
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Contact Name
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact email
              </dt>
              <dd class="govuk-summary-list__value">
                contact.email@burley.co.uk
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact alternative email
              </dt>
              <dd class="govuk-summary-list__value">
                alt.email@burley.co.uk
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                07722 334455
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Appliances
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Appliances in application 1084</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Appliance name</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for application in data['applianceApplications'] %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">{{ application['modelName'] }}</td>
                <td class="govuk-table__cell govuk-table__cell">{{ notstartedAppStatus | safe }}</td>
                <td class="govuk-table__cell govuk-table__cell"><a href="{{ application['modelNumber'] }}/review-appliance">Start review</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>

      <form action="review-incomplete" method="post" novalidate>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="../applications-appliances.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
