{% extends "layouts/main.html" %}

{% set foundObject ={} %}

{% for object in data["fuelApplications"] %}

  {% if object.id == "1" %}
    {% set foundObject = object %}
  {% endif %}
{% endfor %}

{% block pageTitle %}
  Review fuel application {{ foundObject["applicationNo"] }} – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../dashboard"
      },
      {
        text: "Fuel applications",
        href: "../applications-fuels"
      },
      {
        text: "Review fuel application 0317",
        href: "#"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review fuel application {{ foundObject["applicationNo"] }}
      </h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Applicant details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
                Flamers Ltd
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company address
              </dt>
              <dd class="govuk-summary-list__value">
                Sonna<br/>
                Mullingar<br/>
                Co. Westmeath<br/>
                N91 PYC8
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Contact Name
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact email
              </dt>
              <dd class="govuk-summary-list__value">
                contact.email@flamers.com
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact alternative email
              </dt>
              <dd class="govuk-summary-list__value">
                alt.email@flamers.com
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main contact telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                07722 334455
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Responsible person
              </dt>
              <dd class="govuk-summary-list__value">
                Responsible Name
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Responsible person email
              </dt>
              <dd class="govuk-summary-list__value">
                responsible.email@flamers.com
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Customer complaints system in place?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How do they sell the fuel?
              </dt>
              <dd class="govuk-summary-list__value">
                Bagged at source
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manufacturer or reseller?
              </dt>
              <dd class="govuk-summary-list__value">
                Manufacturer
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Fuel for review
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Fuel in application {{ foundObject["applicationNo"] }}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Brand name</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__cell">{{ foundObject["modelName"] }}</td>
              <td class="govuk-table__cell govuk-table__cell">
                {% if (data['kingstatus'] == "yes") %}
                  <strong class="govuk-tag govuk-tag--orange">
                    In progress
                  </strong>
                {% elseif (data['kingstatus'] == "accepted") %}
                  <strong class="govuk-tag govuk-tag--green">
                    Accepted
                  </strong>
                {% elseif (data['kingstatus'] == "rejected") %}
                  <strong class="govuk-tag govuk-tag--red">
                    Rejected
                  </strong>
                {% else %}
                  <span>
                    Not started
                  </span>
                {% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell">
                
                  {% if (data['kingstatus'] == "yes") %}
                    <a href="kings-starterlog/review-fuel?supportstatusking=pass">
                      Continue review
                    </a>
                  {% elseif (data['kingstatus'] == "accepted") %}
                    <a href="kings-starterlog/review-fuel?supportstatusking=pass">
                      Edit review
                    </a>
                  {% elseif (data['kingstatus'] == "rejected") %}
                    <a href="kings-starterlog/review-fuel?supportstatusking=pass">
                      Edit review
                    </a>
                  {% else %}
                    <a href="kings-starterlog/review-fuel?supportstatusking=pass">
                      Start review
                    </a>
                  {% endif %}
                </a>
              </td>
            </tr>
            
          </tbody>
        </table>
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        {% if ( data['kingstatus'] == "accepted" or data['kingstatus'] == "rejected") %}
          {{ govukButton({
            text: "Continue",
            href: "review-outcome"
          }) }}
        {% else %}
            {{ govukButton({
            text: "Continue",
            href: "review-incomplete"
          }) }}
        {% endif %}
      </div>
      
      <p><a class="govuk-link" href="../applications-fuels.html">Come back to this later</a></p>

    </div>
  </div>
{% endblock %}
