{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review complete – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review complete
      </h1>

      <p>Your review of application 1084 is complete.</p>

      <ul class="govuk-list">
        <li><a href="../applications-appliances.html">Return to appliance applications</a></li>
        <li><a href="">Go to appliance records</a></li>
        <li><a href="../dashboard.html">Return to dashboard</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
