{% extends "layouts/main-public-list.html" %}

{% block pageTitle %}
  Legal basis for appliance certification – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Legal basis for appliance certification
      </h1>

      <p class="govuk-body-s govuk-!-margin-bottom-2">From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food and Rural Affairs</a></p>
      <p class="govuk-body-s">Last updated 14 January 2026</p>
      <p>Certified appliances can be used to burn uncertified fuels in <a href="smoke-control.html">smoke control areas</a>.</p>
      <p>An appliance is certified when it is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>on the <a href="appliance-list.html">list of certified appliances</a></li>
        <li>only used to burn fuels it was designed to burn</li>
        <li>used only as instructed by the manufacturer</li>
      </ul>
      <p>For all wood burning appliances, you must only burn wood with a measured moisture content of 20% or less. Burning wet wood produces more smoke and less heat.</p>
      <p>Any appliances that do not appear on this list are not certified for use in smoke control areas.</p>
      <p>You cannot legally burn waste wood that has been painted, coated or treated with chemical preservatives. For example, wood pallets, fences or garden furniture.</p>
      
      <h2 class="govuk-heading-l">Appliances on the list</h2>
      <p>Appliances on the list of certified appliances are legally certified for use in smoke control areas in at least one UK country. Not all appliances on the list are certified for use in all UK countries. Check the specific country certifications of each appliance.</p>
      <p>Appliances that aren't on the list aren't certified for use in smoke control areas anywhere in the UK.</p>

      <h2 class="govuk-heading-l">Country certification</h2>
      <p>Appliance certification in each UK country is under the authority of that country's government.</p>
      
      <h3 class="govuk-heading-m">England</h3>
      <p>Appliances certified for use in smoke control areas in England are authorised by the Secretary of State for the Environment.</p>
      <p>Appliance certification for England is under Sections 20 and 21 of the Clean Air Act 1993, as updated by Section 15 of the Deregulation Act 2015.</p>
      
      <h3 class="govuk-heading-m">Scotland</h3>
      <p>Appliances certified for use in smoke control areas in Scotland are authorised by Scottish Ministers.</p>
      <p>Appliance certification for Scotland is under Sections 20 and 21 of the Clean Air Act 1993, as updated by Section 50 of the Regulatory Reform (Scotland) Act 2014.</p>
      
      <h3 class="govuk-heading-m">Wales</h3>
      <p>Appliances on this list that are certified for use in smoke control areas in Wales are certified by Welsh Ministers.</p>
      <p>Appliance certification for Wales is under specific regulations made by Welsh Ministersunder the Clean Air Act 1993.</p>
      
      <h3 class="govuk-heading-m">Northern Ireland</h3>
      <p>Appliances included on this list are certified for use in smoke control areas in Northern Ireland by the Department of Agriculture, Environment and Rural Affairs.</p>
      <p>Appliance certification for Northern Ireland is under Article 17(7) of the Clean Air (Northern Ireland) Order 1981, as updated by Section 16 of the Environmental Better Regulation Act (Northern Ireland) 2016.</p>
    </div>
  </div>

{% endblock %}
