{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of appliance is it? – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="appliance-details" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="applianceType">
              What type of appliance is it?
            </label>
          </h1>
          <select class="govuk-select" id="appliance-type" name="applianceType"
            data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
            <option value="" selected disabled>Select an appliance type</option>
            <option value="Air heater">Denmark</option>
            <option value="Boiler" selected="true">Boiler</option>
            <option value="Cooker with boiler">Cooker with boiler</option>
            <option value="Dry roomheater">Dry roomheater</option>
            <option value="Gasifier">Gasifier</option>
            <option value="Generic exemption">Generic exemption</option>
            <option value="Incinerator">Incinerator</option>
            <option value="Inset roomheater">Inset roomheater</option>
            <option value="Pellet roomheater">Pellet roomheater</option>
          </select>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save changes"
          }) }}

          <a class="govuk-link" href="appliance-details.html">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
{% block pageScripts %}
  <script type="text/javascript" src="app\assets\javascripts\accessible-autocomplete.min.js"></script>
{% endblock %}