{% extends "layouts/main-public-list.html" %}

{% block pageTitle %}
  Barbas Cuatro-3 80 Inset appliance – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Barbas Cuatro-3 80 Inset appliance
      </h1>
      <p>Manufactured by Interfocos BV, Hallenstraat 17, 5531 AB Bladel, The Netherlands</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s govuk-!-margin-bottom-2">From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food and Rural Affairs</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Published 12 January 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-9">Last updated 14 January 2026</p>

      <p>This appliance is certified for use in <a href="smoke-control.html">smoke control areas</a> when it is used to burn the following:</p>
      <div class="govuk-inset-text">
        	Wood logs
      </div>
      <h2 class="govuk-heading-s govuk-!-margin-top-7">Burning wood fuels</h2>
      <p>Wood fuels should contain 20% moisture or less. Burning wet wood creates more smoke and pollution and less heat.</p>
      <p>You cannot legally burn waste wood that has been painted, coated or treated with chemical preservatives. This includes wood pallets, fences and furniture.</p>

      <p>Find out more about burning wood at <a href="https://www.readytoburn.org/" target="_blank">Ready to Burn</a>.</p>
      
      <h2 class="govuk-heading-l govuk-!-margin-top-7">Certification by country</h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l govuk-visually-hidden">Certification by country</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-table__header">Country</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Date certified</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">England</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">21 November 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Scotland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">21 November 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Wales</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">21 November 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Northern Ireland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">21 November 2018</td>
          </tr>
        </tbody>
      </table>

      <p><a href="appliance-legal.html">Learn more about appliance certification</a></p>
      
      <h2 class="govuk-heading-l govuk-!-margin-top-7">How to use the appliance</h2>
      <p>This appliance must be installed, maintained and operated as instructed by the manufacturer and the certification body:</p>
      <div class="govuk-inset-text">
        <p>Barbas Cuatro-3 80 installation instructions and manual for annual maintenance dated 26th May 2014, reference: 03-335878.</p>
        <p>Barbas Cuatro-3 80 instructions for use and maintenance manual dated 26th May 2014, reference: 03-335877.</p>
        <p>The appliance must be fitted with an air slider which has a permanent opening of 800 mm2 so as to provide air supply when the air slider is fully closed.</p>
      </div>
      <p>Contact a local installer or sweep for further advice.</p>
            
      <h2 class="govuk-heading-l govuk-!-margin-top-7">Appliance details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appliance type
          </dt>
          <dd class="govuk-summary-list__value">
            Inset appliance
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nominal (thermal) output
          </dt>
          <dd class="govuk-summary-list__value">
            3kW
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Manufacturer details</h2>
      <p>Interfocos BV<br/>
      Hallenstraat 17<br/>
      5531 AB Bladel<br/>
      The Netherlands</p>
  </div>

{% endblock %}
