{% extends "layouts/main-public-list.html" %}

{% block pageTitle %}
  Aarrow Ecoburn 5F plus Widescreen 4.99kW multi-fuel stove – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Aarrow Ecoburn 5F plus Widescreen 4.99kW multi-fuel stove
      </h1>
      <p>Manufactured by Arada Limited</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s govuk-!-margin-bottom-2">From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food and Rural Affairs</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-2">Published 12 January 2026</p>
      <p class="govuk-body-s govuk-!-margin-bottom-9">Last updated 14 January 2026</p>

      <p>This appliance is certified for use in <a href="smoke-control.html">smoke control areas</a> when it is used to burn the following:</p>
      <div class="govuk-inset-text">
        	Wood logs, wood pellets, wood chips, waste and scrap wood (including pallets)
      </div>
      <p>This is a multifuel appliance, which can also burn fuels on the <a href="fuel-list.html">list of certified fuels</a>.</p>

      <h2 class="govuk-heading-s govuk-!-margin-top-7">Burning wood fuels</h2>
      <p>Wood fuels should contain 20% moisture or less. Burning wet wood creates more smoke and pollution and less heat.</p>
      <p>You cannot legally burn waste wood that has been painted, coated or treated with chemical preservatives. This includes wood pallets, fences and furniture.</p>

      <p>Find out more about burning wood at <a href="https://www.readytoburn.org/" target="_blank">Ready to Burn</a>.</p>
      
      <h2 class="govuk-heading-l govuk-!-margin-top-7">Certification by country</h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l govuk-visually-hidden">Certification by country</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-table__header">Country</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Date certified</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">England</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">10 January 2026</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Scotland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Unertified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">Not certified</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Wales</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">Awaiting decision</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">Not certified</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell">Northern Ireland</td>
            <td class="govuk-table__cell govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Certified</strong>
            </td>
            <td class="govuk-table__cell govuk-table__cell">15 January 2026</td>
          </tr>
        </tbody>
      </table>

      <p><a href="appliance-legal.html">Learn more about appliance certification</a></p>
      
      <h2 class="govuk-heading-l govuk-!-margin-top-7">How to use the appliance</h2>
      <p>The Aarrow Ecoburn 5F plus Widescreen 4.99kW multi-fuel stove must be installed, maintained and operated as instructed in the instruction manual:</p>
      <div class="govuk-inset-text">
        <p>ECOBURN PLUS Stove User Guide (Rev 05)</p>
        <p>Published 1 September 2016</p>
      </div>
      <p>Contact a local installer or sweep for further advice.</p>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">Additional conditions for use</h2>
      <p>No additional conditions for use.</p>
            
      <h2 class="govuk-heading-l govuk-!-margin-top-7">Appliance details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appliance type
          </dt>
          <dd class="govuk-summary-list__value">
            Stove
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nominal (thermal) output
          </dt>
          <dd class="govuk-summary-list__value">
            4kW
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Manufacturer details</h2>
      <p>Arada Limited<br/>
        The Fireworks<br/>
      Weycroft Avenue<br/>
      Axminster<br/>
      Devon<br/>
      EX13 5HU</p>
  </div>

{% endblock %}
