{% extends "layouts/main-no-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>
      <a href="applications/">Application forms - apply for certification of appliances and fuels</a>
    </p>
    <p>
      <a href="public-list/">Public list service - search and review</a>
    </p>
    <p>
      <a href="admin/">Admin service - application management and review</a>
    </p>

  </div>
</div>

{% endblock %}
