{% extends "layouts/main-no-nav.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Public list service - search and review
    </h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Usability testing protoypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">What is being tested</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-three-quarters">
            <p>Public list, legal basis, search, filter and listing details</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="public-list/ur-links.html">Launch prototype</a></p>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Sprints and iterations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Iteration notes</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">9 March to <br/>20 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Building list design into prototype kit for usability testing. Starts with GOV.UK page that links out to the appliance and fuels lists.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="public-list/smoke-control.html">Launch prototype</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">9 March to <br/>20 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>No results views for appliance and fuel search to support dev build.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="public-list/appliance-list-no-results.html">Appliance search/filter no results</a></p>
            <p><a href="public-list/fuel-list-no-results.html">Fuel search/filter no results</a></p>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">
      Admin service - application management and review
    </h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Sprints and iterations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Dates</th>
          <th scope="col" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Iteration notes</th>
          <th scope="col" class="govuk-table__header govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">23 February to <br/>6 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Initial design for the flow to review a new application. <a target="_blank" href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1769004620623/d3e5742d225274c724fb3a19c06670ba944310ce?wid=0-1771502578799">Following V1 of the mapped journey in Mural</a>.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="admin/iteration-1/index">Launch prototype</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3</th>
          <td scope="row" class="govuk-table__cell govuk-table__cell">23 February to <br/>6 March 2026</td>
          <td class="govuk-table__cell govuk-table__cell govuk-!-width-one-half">
            <p>Looking at different navigation approaches.</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell">
            <p><a href="admin/iteration-1/nav/nav-tests">Launch navigation prototypes</a></p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
